.experience-card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    padding: 0 1.5rem;
    padding-top: 1.2rem;
    padding-bottom: 0.3rem;
    margin: 0.8rem 1.2rem;
    transition: all 0.3s ease;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .experience-card:hover {
    box-shadow: 0px 1px 10px gray;
  }

  .experience-card .experience-card-content {
    padding-left: 1rem;
  }
  
  .experience-card img {
    width: 60px;
    align-self: center;
  }
  
  .experience-card h2 {
    font-size: 1.2rem;
    margin-top: 0.2rem;
    font-weight: 700;
  }

  .experience-card h6 {
    font-size: 14px;
    margin-top: 0.2rem;
    font-weight: 600;
  }

  .experience-card h6.experience-period {
    opacity: 0.6;
  }

  .experience-card .experience-heading {
    font-weight: 600;
    font-size: 16px;
    padding: 1rem 0 0;
  }
  
  .experience-card .experience-achievements {
    font-weight: 600;
    font-size: 16px;
    padding: 1rem 0 0 1rem;
  }

  .experience-card .tags {
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
    width: 100%;
    margin-top: 1.2rem;
  }
  
  .experience-card .tags span {
    display: inline-block;
    font-size: 0.7rem;
    color: #31353b;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    background-color: #d6dce2;
    font-weight: 800;
    letter-spacing: 0.7px;
  }
  
  @media screen and (min-width: 600px) {
    .experience-card {
        display: grid;
        grid-template-columns: auto 1fr;
    }

    .experience-card h2 {
      font-size: 1.6rem;
    }
  
    .experience-card .tags span {
      font-size: 0.9rem;
      font-weight: 700;
    }
  
    .experience-card img {
      width: 65px;
      align-self: flex-start;
    }
  }
  
  @media screen and (min-width: 900px) {
    
    .services-card {
      flex: 1;
      max-width: 600px;
      min-width: 400px;
    }
  }
  